body {
    margin: 0;
    padding: 0;
}

.frog-game-container {
    display: flex;
    justify-content: center;
}

#frog-game {
    height: 80vh;
    width: 45vw;
    border: 1px solid #000;
    position: relative;
}

#frog-game .frog {
    width: 30%;
    position: absolute;
} 

