body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.frog-game-container {
    display: flex;
    justify-content: center;
}

#frog-game {
    width: 100%;
    position: relative;
}

#frog-game .frog {
    width: 20%;
    position: absolute;
    z-index: 10000;
} 

.frog-game {
    width: 45vw;
}

.ending-point {
    height: 10vh;
    background-color: green;
}

.pond {
    height: 30vh;
    background-color: blue;
}

.grass {
    height: 10vh;
    background-color: green;
}

.road {
    height: 30vh;
    background-color: grey;
}

.starting-point {
    height: 10vh;
    background-color: green;
}

.cars1, .cars2, .cars3, .logs1, .logs2 {
    position: absolute;
}

